@media (max-width: 991px) {
    .header {
        padding: 0 20px;
    }
    .promo {
        min-height: 650px;
        &__wrapper {
            padding: 0 20px;
        }
    }

    .advantages{
        &__wrapper {
            padding: 0 12px;
        }
    }

    .consultation {
        .title_left {
            text-align: center;
        }
        &__descr {
            padding: 0 20px;
        }
        .feed-form {
            padding-left: 20px;
        }
    } 
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
    }
}