@media (max-width: 991px) {
    .header {
        padding: 0 20px;
    }
    .promo {
        min-height: 650px;
        &__wrapper {
            padding: 0 20px;
        }
    }

    .advantages{
        &__wrapper {
            padding: 0 12px;
        }
    }

    .consultation {
        padding: 80px 0 80px 0;
        .title_left {
            text-align: center;
            font-size: 30px;
        }
        &__descr {
            padding: 0 20px;
            font-size: 19px;
        }
        .feed-form {
            padding-left: 20px;
            width: 280px;
        }
    }

    .slick-dots {
         display: flex;
         justify-content: center;
    }

    .carousel {
        &__inner {
            img {
                height: 400px;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
    }
}